

{% extends 'FormBase.html.twig' %}

{% block body %}
    <h1>Spa index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Image</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for spa in spas %}
            <tr>
                <td>{{ spa.id }}</td>
                <td>{{ spa.type }}</td>
                <td>{{ spa.image }}</td>
                <td>{{ spa.description }}</td>
                <td>
                    <a href="{{ path('spa_show', {'id': spa.id}) }}">show</a>
                    <a href="{{ path('spa_edit', {'id': spa.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('spa_new') }}">Create new</a>
{% endblock %}
