{% extends 'base.html.twig' %}

{% block title %}ReservationSpa index{% endblock %}

{% block body %}
    <h1>ReservationSpa index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Mail</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation_spa in reservation_spas %}
            <tr>
                <td>{{ reservation_spa.id }}</td>
                <td>{{ reservation_spa.Nom }}</td>
                <td>{{ reservation_spa.mail }}</td>
                <td>{{ reservation_spa.date ? reservation_spa.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('reservation_spa_show', {'id': reservation_spa.id}) }}">show</a>
                    <a href="{{ path('reservation_spa_edit', {'id': reservation_spa.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservation_spa_new') }}">Create new</a>
{% endblock %}
